html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-weight: 0;
}

p {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5 {
	margin: 0;
	padding: 0;
}

form {
	padding: 0;
	margin: 0;
}

.header {
    width: auto;
    height: 145px;
    background-color: #0E0D0D;
    background-size: 100% 100%;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 15px;
}

.logo {
    display: flex;
    align-items: center;
    height: 42px;
    cursor: pointer;
    transition: 0.5s;
}

.logo img {
    margin-left: 20px;
    width: 45px;
    height: 45px;
}

.text-logo {
    font-size: 30px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-top: 0px;
    height: 36px;
}

.search {
    width: 500px;
    height: 50px;
    transition: 0.5s;
    background-color: #211F1F;
    border-radius: 50px;
    border: 1px solid black;
    color: white;
    font-size: large;
}

.search:hover {
    width: 530px;
}

.loupe {
    position: relative;
    top: 12px;
    right: 70px;
    width: 35px;
    height: 35px;
}

.icons img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    transition: 0.5s;
}

.icons img:hover, .logo:hover {
    transform: scale(1.08); 
}

.icons a {
    text-decoration: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.bottom-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-header a {
    text-decoration: none;
    margin-left: 40px;
    margin-top: 0px;
    margin-right: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 39px;
    color: white;
    transition: 0.5s;
    display: block;
    position: relative;
    padding: 0.2em 0;
    
}

.bottom-header a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 1000ms, transform 300ms;
}

.bottom-header a:hover::after, .bottom-header a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Scale from center */
.bottom-header li:nth-child(n) a::after {
  transform: scale(0);
  transform-origin: center;
}

.bottom-header li:nth-child(n) a:hover::after,.bottom-header li:nth-child(n) a:focus::after{
  transform: scale(1);
}

.first-block {
    background: -webkit-linear-gradient(135deg, rgb(0, 0, 0) 29%, rgb(51, 51, 51) 50%, rgb(0, 0, 0) 77%);
    background: -moz-linear-gradient(135deg, rgb(0, 0, 0) 29%, rgb(51, 51, 51) 50%, rgb(0, 0, 0) 77%);
    background: linear-gradient(135deg, rgb(0, 0, 0) 29%, rgb(51, 51, 51) 50%, rgb(0, 0, 0) 77%);
    background-size: 100% 100%;
    height: 820px;

}

.main-container-first-block img {
    position: absolute;
    z-index: 1;
    top: 250px;
    opacity: 1;
    filter: alpha(opacity=100);
    height: 715px ;
    filter: brightness(75%);
}

.information-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.information-flex h1, .information-flex h2, .information-flex a {
    position: absolute;
    z-index: 2;
    font-family: 'Monda', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.information-flex h1 {
    top: 320px;
    font-size: 80px;
    line-height: 130px;
    letter-spacing: 0.19em;
    mix-blend-mode: normal;
}

.information-flex h2 {
    top: 490px;
    width: 700px;
    font-size: 35px;
    line-height: 57px;
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
}

.information-flex a {
    top: 680px;
    text-decoration: none;
    font-weight: 500;
    font-size: 35px;
    line-height: 57px;
    text-align: center;
    color: #000000;
    background: #D9D9D9;
    border-radius: 58px;
    padding: 8px 60px 8px 60px;
    transition: 0.5s;
}

.information-flex a:hover {
    background: black;
    color: white;
    transform: scale(1.04);
}